@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/datagrid/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");


.highcharts-plot-line {
  /* stroke-dasharray: 20px; */
  stroke: var(--highcharts-color-99);
}

.highcharts-plot-line-label {
  fill: var(--highcharts-color-99);
}

.highcharts-light {
  /* Colors for data series and points */
  --highcharts-color-0: #005C9E;
  --highcharts-color-1: #9E8100;
  --highcharts-color-2: #009E8E;
  --highcharts-color-3: #9E1D00;
  --highcharts-color-4: #1A3F59;
  --highcharts-color-5: #C7A200;
  --highcharts-color-6: #005950;
  --highcharts-color-7: #591000;
  --highcharts-color-99: #EB2B00;
}